@tailwind base;
@tailwind components;
@tailwind utilities;

/*루트폰트*/
* {
  margin: 0;
  padding: 0;
}

.root-font {
  font-size: 62.5%;
}

@font-face {
  font-family: "eastman";
  src: url("../public/fonts/Eastman.otf") format("truetype");
}

@font-face {
  font-family: "space-mono";
  src: url("../public/fonts/SpaceMono.ttf");
}

/* 첫번째 폰트*/
.text-theme-primary {
  font-family: "eastman";
}
/*두번째 폰트*/
.text-theme-secondary {
  font-family: "space-mono" !important;
}

.width {
  width: 100%;
}

/*텍스트 컬러*/
.text-theme {
  color: #fff;
}
/*배경 색상*/
.bg-theme {
  background-color: #000;
}

.upper {
  text-transform: uppercase;
}

/*버튼 Theme*/
.btn:link,
:visited {
  transition: all 0.2s;
  cursor: pointer;
  display: inline-block;
  border-bottom: solid 0.3rem transparent;
  z-index: 10;
}

.btn:after {
  content: "";
  display: block;
  border-bottom: solid 0.3rem #fff;
  transition: 0.25s ease-in-out;
  transform: scaleX(0);
}

.btn:hover:after {
  transform: scaleX(1);
}

.btn-line:after {
  transform-origin: 0% 50%;
}

.btn:active {
  transform: translateY(1.5px);
}

/*PETS CAROUSEL*/
.card {
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  box-shadow: 0 rem 4rem, rgba(0, 0, 0, 1);
}

.card__prev {
  z-index: 5;
  left: 30%;
  transform: translateY(5rem) translateX(-50%);
  opacity: 0.7;
}

.card__next {
  z-index: 5;
  left: 70%;
  transform: translateY(5rem) translateX(-50%);
  opacity: 0.7;
}

.card__center {
  z-index: 10;
  left: 50%;
  transform: translateY(6rem) translateX(-50%) scale(1.2);
}

.card__btn {
  position: fixed;
  left: 50%;
  transform: translateX(50%);
  bottom: 1rem;
  font-size: 1.6rem;
}

.col-1-of-3 {
  width: calc((100%-2 * 4rem) / 3);
}

.slide-up:not(:last-child) {
  animation: pagenation 1.2s cubic-bezier(0, 0.55, 0.45, 1);

  backface-visibility: hidden;
}

.slide-down {
  animation: pagenation2 1.2s cubic-bezier(0, 0.55, 0.45, 1) !important;
}

@keyframes pagenation2 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes pagenation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.button__hamburger__checkbox {
  display: none;
}

.button__modal {
  background-color: black;
  height: 10rem;
  width: 10rem;
  cursor: pointer;
  text-align: center;
  position: relative;
  right: 2.5rem;
  top: 0;
}

.button__icon {
  margin: 3.3rem 0 0 1rem;

  z-index: 2222;
}

.button__icon,
.button__icon::before,
.button__icon::after {
  width: 3rem;
  height: 2px;
  border-bottom: 0.3rem solid white;
  display: inline-block;
}

.button__icon::before,
.button__icon::after {
  position: absolute;
  content: "";
  transition: all 0.3s;
}

.button__icon::before {
  top: -1.6rem;
  left: 1rem;
}

.button__icon::after {
  top: 0rem;
  left: 1rem;
}

.button__icon:hover.button__icon::before {
  top: -1.7rem;
  left: 1rem;
}

.button__icon:hover.button__icon::after {
  top: 0.1rem;
  left: 1rem;
}
.button__hamburger__checkbox:checked + .button__modal .button__icon {
  border: none;
}

.button__hamburger__checkbox:checked + .button__modal .button__icon::before {
  top: -0.9rem;
  transform: rotate(135deg);
  left: 1rem;
}

.button__hamburger__checkbox:checked + .button__modal .button__icon::after {
  top: -0.8rem;
  transform: rotate(-135deg);
  left: 1rem;
}

/*HAMBURGER POPUP*/

.modal__nav {
  position: fixed;
  top: 9rem;
  right: 3.5rem;
  width: 10%;
  height: 3vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(151, 10, 10, 0.3),
    rgba(4, 4, 178, 0.5)
  );
  border-radius: 3;
  opacity: 0;
  transform: scaleY(0);
  transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
  transform-origin: top;
  border-radius: 5px;
}

.modal__item {
  list-style: none;
  margin: 2rem 0 0 2rem;
}

.button__hamburger__checkbox:checked ~ .modal__nav {
  transform: scaleY(1);
  height: 30vh;
  opacity: 1;
  font-size: 1.6rem;
}

/*PARALLEX*/
.landing__img-1 {
  position: absolute;
  top: 0;
  left: 39%;
  transform: translateX(-50%);
  object-fit: contain;
}

.landing__img-2 {
  position: absolute;
  top: 40%;
  right: 25rem;
  object-fit: contain;
  z-index: 0;
}

.landing__img-3 {
  position: absolute;
  top: 40%;
  left: 18%;
}

.landing__title {
  z-index: 1000;
  position: relative;
  line-height: 78px;
}

.shop__container {
  position: absolute;
  height: 45vh;
  width: 45%;
  top: calc(30%);
  left: calc(50% - 22.5%);
  display: flex;
}

.shop__card {
  display: flex;
  height: 40vh;
  width: 32%;
  background-color: #17141d;
  color: white;
  border-radius: 10px;
  box-shadow: -1rem 0 1.5rem #000;

  transition: 0.4s ease-out;
  position: relative;
  left: 1rem;
}

.shop__card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.shop__card:hover ~ .shop__card {
  position: relative;
  left: 30px;
  transition: 0.4s ease-out;
}

.shop__card:active {
  scale: 1.4;
  border-color: rgb(255, 0, 0, 0.2);
}

/*GAME INFO*/
.game-info {
  display: flex;
  flex-direction: column;
}

.game-info__card {
  height: 28vh;
  width: 50%;
  border-radius: 3px;
}
