@tailwind base;
@tailwind components;
@tailwind utilities;

.root-font {
  font-size: 62.5%;
}

@font-face {
  font-family: "eastman";
  src: url("../public/fonts/Eastman.otf") format("truetype");
}

@font-face {
  font-family: "space-mono";
  src: url("../public/fonts/SpaceMono.ttf");
}

.text-theme-primary {
  font-family: "eastman";
}

.text-theme-secondary {
  font-family: "space-mono" !important;
}

.width {
  width: 100%;
}

.text-theme {
  color: #fff;
}

.bg-theme {
  background-color: #000;
}

.upper {
  text-transform: uppercase;
}

.btn:link,
:visited {
  transition: all 0.2s;
  cursor: pointer;
  display: inline-block;
  border-bottom: solid 0.3rem transparent;
  z-index: 10;
}

.btn:after {
  content: "";
  display: block;
  border-bottom: solid 0.3rem #fff;
  transition: 0.25s ease-in-out;
  transform: scaleX(0);
}

.btn:hover:after {
  transform: scaleX(1);
}

.btn-line:after {
  transform-origin: 0% 50%;
}

.btn:active {
  transform: translateY(1.5px);
}

.card {
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  box-shadow: 0 rem 4rem, rgba(0, 0, 0, 1);
}

.card__prev {
  z-index: 5;
  left: 30%;
  transform: translateY(5rem) translateX(-50%);
  opacity: 0.7;
}

.card__next {
  z-index: 5;
  left: 70%;
  transform: translateY(5rem) translateX(-50%);
  opacity: 0.7;
}

.card__center {
  z-index: 10;
  left: 50%;
  transform: translateY(6rem) translateX(-50%) scale(1.2);
}

.card__btn {
  position: fixed;
  left: 50%;
  transform: translateX(50%);
  bottom: 1rem;
  font-size: 1.6rem;
}

.col-1-of-3 {
  width: calc((100%-2 * 4rem) / 3);
}

.slide-up:not(:last-child) {
  animation: pagenation 1.2s cubic-bezier(0, 0.55, 0.45, 1);

  backface-visibility: hidden;
}

.slide-down {
  animation: pagenation2 1.2s cubic-bezier(0, 0.55, 0.45, 1) !important;
}

@keyframes pagenation2 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes pagenation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.button__hamburger__checkbox {
  display: none;
}

.button__modal {
  background-color: black;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
  text-align: center;
  position: relative;
  right: 2.5rem;
}

.button__icon {
  margin: 3.2rem 0;

  z-index: 2222;
}

.button__icon,
.button__icon::before,
.button__icon::after {
  width: 3rem;
  height: 2px;
  border-bottom: 0.3rem solid white;
  display: inline-block;
}

.button__icon::before,
.button__icon::after {
  position: absolute;
  content: "";
  transition: all 0.3s;
}

.button__icon::before {
  top: -1.6rem;
  left: 0;
}

.button__icon::after {
  top: 0rem;
  left: 0;
}

.button__icon:hover.button__icon::before {
  top: 2.5rem;
  left: 2rem;
}

.button__icon:hover.button__icon::after {
  top: 4.5rem;
  left: 2rem;
}
.button__hamburger__checkbox:checked + .button__modal .button__icon {
  border: none;
}

.button__hamburger__checkbox:checked + .button__modal .button__icon::before {
  top: 3.3rem;
  transform: rotate(135deg);
}

.button__hamburger__checkbox:checked + .button__modal .button__icon::after {
  top: 3.3rem;
  transform: rotate(-135deg);
}

.landing__img-1 {
  position: absolute;
  top: 0;
  left: 39%;
  transform: translateX(-50%);
  object-fit: contain;
}

.landing__img-2 {
  position: absolute;
  top: 40%;
  right: 27%;
  object-fit: contain;
  z-index: 0;
}

.landing__img-3 {
  position: absolute;
  top: 40%;
  left: 20%;
}

.landing__title {
  z-index: 1000;
  position: relative;
  line-height: 78px;
}
